.posts-wrapper.row
  .post
    .post-head
      .name
        Gabriel Nogueira
    .image.center-block
      =(image_tag @post.image.url(:medium), class:'img-responsive')
    %p.caption
      =@post.caption
